<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
     function getSubTable(obj) {
        var p = obj.parentNode;

        for(var i = 0; i < p.children.length; i++) {
            p.children[i].style.backgroundColor = '';
        };

        obj.style.backgroundColor = '#80808061';
        var key = obj.querySelector("th[name='key']").textContent;

        let requestData = {
            codeGroup : key,
            useYn : 'Y'
        };

        $.ajax({
            type: 'GET',
            url: '/system/detail',
            data:  requestData,
            contentType : "application/json; charset=utf-8",
            success: function(responseData) {
                $('#example2').DataTable().destroy();
                var table = $('#example2_body');
                table.empty();
                for(var i = 0; i< responseData.length; i++) {
                    var tr = document.createElement('tr');
                    var cd = document.createElement('th');
                    var cd_value = document.createElement('td');
                    var sort = document.createElement('td');
                    var remark = document.createElement('td');
                    var useYn = document.createElement('td');
                    var regDate = document.createElement('td');
                    var modDate = document.createElement('td');

                    cd.textContent  = responseData[i].codeId.cd;
                    cd_value.textContent  = responseData[i].displayValue;
                    sort.textContent  = responseData[i].codeSort;
                    useYn.textContent  = responseData[i].useYn;
                    remark.textContent  = responseData[i].remark;
                    regDate.textContent  = responseData[i].regDate ? responseData[i].regDate.substring(0, 10) : '';
                    modDate.textContent  = responseData[i].modDate ? responseData[i].modDate.substring(0, 10) : '';
                    tr.appendChild(cd);
                    tr.appendChild(cd_value);
                    tr.appendChild(sort);
                    tr.appendChild(remark);
                    tr.appendChild(useYn);
                    tr.appendChild(regDate);
                    tr.appendChild(modDate);
                    table.append(tr);
                }
                setPaging_detail();
            },
            error: function(xhr) {
                console.log(xhr.responseText);
            }
        });
     }





    </script>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <th:block th:include="sidebar.html"></th:block>
    <!-- /Main Sidebar Container -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>코드관리</h1>
                        [[${param}]]

                        <ul>
                            <li th:each="entry : ${param}">
                                Parameter: <span th:text="${entry.key}"></span>
                                Value: <span th:text="${entry.value[0]}"></span>
                            </li>
                        </ul>

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <form method="get" action="/system/list">


                                    <div class="row">
                                        <div class="input-group col-12 justify-content-end">

                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-block btn-primary">조회 <i
                                                        class="nav-icon fas fa-search"></i></button>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-block btn-info" data-toggle="modal"
                                                        data-target="#modal-xl">
                                                    등록
                                                </button>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-block btn-warning">수정</button>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="input-group col-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-default">그룹코드</button>
                                            </div>
                                            <th:block th:if="${param.get('codeId.cd') != null}">
                                                <input type="text" class="form-control" name="codeId.cd"
                                                       th:value="${param.get('codeId.cd')}">
                                            </th:block>
                                            <th:block th:unless="${param.get('codeId.cd') != null}">
                                                <input type="text" class="form-control" name="codeId.cd">
                                            </th:block>


                                        </div>
                                        <div class="input-group col-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-default">코드값
                                                </button>
                                            </div>
                                            <input type="text" class="form-control" name="displayValue"
                                                   th:value="${param.displayValue}">
                                        </div>

                                        <div class="input-group col-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-default">사용여부</button>
                                            </div>
                                            <select class="form-control" name="useYn">
                                                <option value="A" th:selected="${param.useYn == null or param.useYn.toString() == 'A'}">전체</option>
                                                <option value="Y" th:selected="${param.useYn != null and param.useYn.toString() == 'Y'}">사용</option>
                                                <option value="N" th:selected="${param.useYn != null and param.useYn.toString() == 'N'}">미사용</option>
                                            </select>

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="input-group col-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-default">등록일</button>
                                            </div>
                                            <input type="date" class="form-control" name="regDate"
                                                   th:value="${param.regDate}">
                                            <input type="date" class="form-control" name="regDateEnd"
                                                   th:value="${param.regDateEnd}">
                                        </div>

                                        <div class="input-group col-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-default">수정일</button>
                                            </div>
                                            <input type="date" class="form-control" name="modDate"
                                                   th:value="${param.modDate}">
                                            <input type="date" class="form-control" name="modDateEnd"
                                                   th:value="${param.modDateEnd}">
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <h6>● 코드그룹</h6>
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead style="background-color: rgb(16, 23, 86); color: #ffffff;">
                                    <tr>
                                        <th>그룹코드</th>
                                        <th>그룹명</th>
                                        <th>비고</th>
                                        <th>정렬순서</th>
                                        <th>사용유무</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr onclick="getSubTable(this)" th:each="dto : ${group}">
                                        <th name="key" scope="row">[[${dto.cd}]]</th>
                                        <td>[[${dto.displayValue}]]</td>
                                        <td>[[${dto.remark}]]</td>
                                        <td>[[${dto.codeSort}]]</td>
                                        <td>[[${dto.useYn}]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="card-body">
                                <h6>● 코드상세</h6>
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead style="background-color: rgb(16, 23, 86); color: #ffffff;">
                                    <tr>
                                        <th>코드</th>
                                        <th>코드값</th>
                                        <th>정렬순서</th>
                                        <th>비고</th>
                                        <th>사용유무</th>
                                        <th>등록일시</th>
                                        <th>수정일시</th>
                                    </tr>
                                    </thead>
                                    <tbody id="example2_body">

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>

                <div class="modal fade" id="modal-xl">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">품목등록</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-default">품목명</button>
                                        </div>

                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-default">공정명</button>
                                        </div>

                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-default">설비명</button>
                                        </div>

                                        <input type="text" class="form-control">


                                    </div>

                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="text" class="btn btn-default">기타</button>
                                        </div>

                                        <input type="text" class="form-control">

                                    </div>

                                </div>

                                <hr>

                                <div class="row">
                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-default">품목명</button>
                                        </div>

                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-default">공정명</button>
                                        </div>

                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-default">설비명</button>
                                        </div>

                                        <input type="text" class="form-control">


                                    </div>

                                    <div class="input-group col-3">
                                        <div class="input-group-prepend">
                                            <button type="text" class="btn btn-default">기타</button>
                                        </div>

                                        <input type="text" class="form-control">

                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="input-group col-12">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-default">비고</button>
                                        </div>

                                        <textarea name="" id="" cols="135" rows="3"></textarea>


                                    </div>


                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                <div class="">
                                    <button type="button" class="btn btn-danger">삭제</button>
                                    <button type="button" class="btn btn-primary">저장</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.2.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer> -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>
<!-- Toastr -->
<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/demo.js}"></script>


<!-- Page specific script -->
<script>
  $(function () {
    setPaging_master();
  });

function setPaging_master() {
 $("#example1").DataTable({
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": ["excel"],
      "info": false,
      "searching": false,
      "paging": true, // 페이징 활성화
      "destroy": true
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
};

function setPaging_detail() {
  $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "destroy": true
    });
}




</script>
</body>
</html>
