<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sidebar</title>

    <script src="https://kit.fontawesome.com/2bc97b2f03.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/main" class="brand-link" style="text-align: center">
            <span class="brand-text font-weight-light">M2S</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">관리자</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a href="/main" class="nav-link active">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                현황
                            </p>
                        </a>

                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-file-pen"></i>
                            <p>
                                수주
                                <i class="fas fa-angle-left right"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/obtainOrder" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>수주 관리</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-cube"></i>
                            <p>
                                재고
                                <i class="fas fa-angle-left right"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/stock/list" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>재고 관리</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/processStock/list" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>재공재고 관리</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/warehouseLog/list" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>입출고 관리</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-cart-shopping"></i>
                            <p>
                                발주
                                <i class="fas fa-angle-left right"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/purchaseOrder" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>발주 관리</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/purchaseIn" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>자재 입고 조회</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-hammer"></i>

                            <p>
                                생산
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="/production" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>작업 계획 및 실적</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-truck"></i>

                            <p>출하<i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/ship" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>출하 관리</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">

                            <i class="nav-icon fa-solid fa-vial"></i>
                            <p>
                                LOT
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/lotNoLog" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>LOT Tracking(정방향)</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/lotNoLogReverse" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>LOT Tracking(역방향)</p>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-industry"></i>
                            <p>
                                공정 및 설비
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/process" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>공정 관리</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/equipment" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>설비 관리</p>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                기준 정보
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/bom/list" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>BOM 관리</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/item" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>품목 관리</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/routing" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>라우팅 관리</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-desktop"></i>
                            <p>
                                시스템
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/system/list" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>코드 관리</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/company" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>업체 관리</p>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

<script>
  $.widget.bridge('uibutton', $.ui.button)

</script>

</body>
</html>